.main__content__container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: calc(100vw - 250px);
    margin: 0;
    padding: 20px;
}

#map {
    flex: 1;
}

.main__graph__container {
    border: 1px solid red;
    width: clamp(600px, 600px, 600px);
    height: 250px;
    margin-left: 15px;
}

.main__graph__title {
    font-family: 'Inter', Arial, Helvetica;
    font-size: 20px;
    text-align: center;
    margin: 0;
}