.main__content__container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: calc(100vw - 250px);
    margin: 0 3px 0 0;
    padding: 20px;
}

.main__secondary__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 20px;
    width: 600px;
}

#map {
    flex: 1;
}

.main__graph__container {
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

.main__well__info {
    font: Inter, Arial, Helvetica;
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    color: #035B1C;
    width: 100%;
    margin: 20px auto 0;
}

.main__well_other-ops {
    font-weight: 400;
}

.main__well_survey {
    color: red;
}

@media screen and (min-width: 1024px) and (max-width:1540px) {
    .main__secondary__container {
        width: 500px;
    }
}


@media screen and (min-width: 768px) and (max-width:1024px) {
    .main__well__info {
        font-size: 12px;
        line-height: 26px;
    }

    .main__secondary__container {
        width: 200px;
    }

    .main__graph__container {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {}