.main__content__container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: calc(100% - 200px);
    margin: 0;
    padding: 20px;
}

#map {
    flex: 1;
}

.main__graph__container {
    border: 1px solid red;
    width: 600px;
    height: 250px;
    margin-left: 15px;
}