.navigation__container {
    display: flex;
    flex-direction: column;
    background-color: #7c8999;
}

.logo__container {
    display: flex;
    flex-direction: row-reverse;
}

.nav-over-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #7c8999;
    height: 55px;
}

.logo__image:hover {
    cursor: pointer;
}

.logo__powered-by {
    margin: 4px 0 0 0;
    color: #000;
    font-family: SLBSans, Arial, Helvetica;
}

.nav-over-page__link {
    color: #000;
    display: block;
    width: 100%;
    height: auto;
    text-decoration: none;
    padding: 14px 0;
}

.nav-over-page__button {
    border-radius: 10px 10px 0 0;
    padding: 0;
    width: 19.5%;
    border: none;
    text-transform: capitalize;
    font-family: SLBSans, Arial, Helvetica;
    font-size: 24px;
    height: 100%;
    position: relative;
    background-color: #F66969;
}

@media screen and (max-width: 768px) {
    /* nav-over-page__button */
}

.button-active {
    background-color: #fff9f0;
}

.button-active:hover {
    cursor: pointer;
    background-color: #bbb6f5;
}

.button-inactive {
    background-color: #7774fb;
}

.button-inactive:hover {
    cursor: pointer;
    background-color: #bbb6f5;
}