/* ! app */
@import url('./components/app/app.css');

/* ! buttons */
@import url('./components/buttons/buttons.css');

/* ! nav-over-page */
@import url('./components/navOverPage/navOverPage.css');

/* ! right-click-menu */
@import url('./components/rightClickMenu/rightClickMenu.css');

/* ! production */
@import url('./components/production/production.css');

/* ! main */
@import url('./components/main/main.css');

/* ! drilling */
@import url('./components/drilling/drilling.css');

/* ! geology */
@import url('./components/geology/geology.css');

/* ! project-plan */
@import url('./components/projectPlan/projectPlan.css');

/* ! map */
@import url('./components/map/map.css');

/* ! progress bar */
@import url('./components/progressBar/progressBar.css');

/* ! table */
@import url('./components/table/table.css');

/* todo FONT IMPORT */
@import url('./vendor/font.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}